@import './variables';

$heart-size: 16px;
$avatar-size: 32px;

.card {
  background-color: white;
  margin: 16px 0;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 200px;
  border-radius: 2em;

  &_detail {
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 20px;
    }

    div {
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      font-weight: bolder;
    }
  }

  &_content {
    width: 55%;
    padding: 16px 16px;
  }

  &_image {
    width: 40%;
    max-width: 2000px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 2em;
    margin: 10px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  &_title {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight: bolder;
    padding-top: 5px;
  }

  &_overview {
    height: 45%;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-top: 5px;
  }

  &_created {
    display: flex;
    padding-top: 5px;
  }
}
