@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $devise-header-color;
  padding: $header-padding-y 10%;
  font-weight: bold;

  a.header_loginBtn {
    background-color: $base-bg-color;
    height: $avatar-size;
    border-radius: 8px;
    font-size: 12px;
    padding: 12px 16px;
    color: #000000;
  }

  &_pageTitle {
    color: white;
    line-height: $avatar-size;
    font-size: $font-lg;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }

  &_nav {
    display: flex;
  }
}

.float_btn {
  color: $devise-header-color;
  background-color: #FFFFFF;
  padding: 0 10px;
  border-radius: 2em;
  line-height: $avatar-size;
  font-size: 10px;
  margin-left: 15px;
}
