@import 'variables';

$icon-size: 32px;
$avatar-size: 32px;
$container-padding: 16px;

.protfolio {
  margin: 16px 16px;
  padding: $container-padding $container-padding;
  position: relative;

  &_image {
    padding: $container-padding;

    img {
      width: 100%;
    }
  }

  h2 {
    font-size: 16px;
  }

  &_title {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
  }

  &_comment {
    padding: 12px 0;
  }

  &_detail {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    position: relative;
    align-items: center;
    font-weight: bolder;
    font-size: 16px;

    img {
      cursor: pointer;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 16px;
    }

    &_actions {
      right: 0px;
      position: absolute;
    }
  }

  &_content {
    padding: 24px 0 32px;
  }

  &_overview {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  }

  &_url{
    width: 150px;
    margin: auto;
    padding: 10px 0px;

    &_btn {
      width: 100%;
      display: flex;
      justify-content: center;
      color: #fff;
      background-color: $devise-header-color;
      margin-top: 3px;
      background: #f56500;
      border-bottom: 2px solid #b84c00;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
      }
  }

  &_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 9px;
    align-items: center;

    &_heart {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
        width: $icon-size;
        height: $icon-size;
        margin-right: 10px;
      }
    }

    &_comment {
      display: flex;

      img {
        cursor: pointer;
        width: $icon-size;
        height: $icon_size;
      }
    }

    &_share {
      margin-left: 40px;

      a {
        display: flex;
        align-items: center;
      }

      img{
        cursor: pointer;
        width: $icon_size;
        height: $icon_size;
      }
    }
  }
}

.like_count{
  font-size: 30px;
}
